.site-nav {
  display: flex;
  /* width: 100%; */
  /* justify-content: space-around; */
  background: #e7e8fb;
  height: 50px;
  padding: 6px 12px;
  align-items: center;
  color: white;
  font-family: sans-serif;
}
.logo-cont {
  width: 100px;
  height: 100px;
}
.user-info-nav {
  position: absolute;
  right: 0;
  padding: 6px 32px;
  font-weight: 700;
  font-size: 18px;
  color: #5960dd;
  cursor: pointer;
}
